.phonebook-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 830px) {
  .phonebook-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
}

.ph.title {
  margin-bottom: 20px;
}

.contacts-box {
  min-width: 300px;
}
